<template name="guideLocation">
	{{#if currentUser}}
	{{> guideLoc}}
	{{else}}
	{{> login}}
	{{/ if}}

</template>

<template name="guideLoc">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				{{> navbar}}
				<div class="row clearfix">
					<div class="col-md-12">
						{{> mapLocal }}
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="mapLocal">  
  <div class="map-container">
    {{> googleMap name="mapLocal" options=mapOptions}}
  </div>
</template>  