<template name="powerAllocation">
	{{#if currentUser}}
	{{> askGuide}}
	{{else}}
	{{> login}}
	{{/ if}}

</template>

<template name="askGuide">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				{{> navbar}}
				<div class="row clearfix">
					<div class="col-md-8">
						{{> map }}
					</div>
					<div class="col-md-4">
						<form role="form" class="localInfo">
							<div class="form-group">
								<label for="Location">Your Location</label>
								<input type="text" class="form-control" id="yourLoc" value = ""/>
							</div>
							<input type="submit" class="btn btn-default" id="profilesubmit" value="Book" >
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<template name="map">  
  <div class="map-container">
    {{> googleMap name="map" options=mapOptions}}
  </div>
</template>  