<template name="tenantDashboard">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				{{> navbar}}
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<section class="panel">
					<header class="panel-heading">
						<div class="panel-title">
							ABC Energy Co.
						</div> 
					</header>
					<div class="panel-body">
						<h3 class="text-left text-primary">
							April
						</h3>
						<small>Power Consumed: <strong>300 kWh</strong></small>
						<hr>
						<h4>Paid: $250 </h4>
					</div>
				</section>
			</div>	
		</div>
		<div class="row clearfix">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<section class="panel">
					<header class="panel-heading">
						<div class="panel-title">
						Landlord
						</div>
						Capt. Kirk
					</header>					
					<div class="panel-body">
						<h3 class="text-left text-primary">
							April
						</h3>						
						<small>Power Consumed: <strong>300 kWh</strong></small>
						<hr>
						<h4>Paid: $500 </h4>
					</div>
				</section>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="info-box blue-bg">
					<i class="fa fa-thumbs-up"></i>
					<div class="count">
						$50
					</div>
					<div class="title">
						Discount Received
					</div>
				</div><!--/.info-box-->
			</div><!--/.col-->
		</div>

	</div>
</template>

